<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>share memo</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="index-body">

        <%- include('header');%>

        <div class="flash-message">
            <% if (message) { %>
            <div class="error-message <%= message.type %>">
                <%= message.text %>
            </div>
            <% } %>
        </div>

        <div class="sign">
            <div class="panel">
                <h2>ログイン</h2>
                <form action="/login" method="post">
                    <p>メールアドレス</p>
                    <input type="text" name="email">
                    <p>パスワード</p>
                    <input type="password" name="password">
                    <input type="submit" value="ログイン">
                    <a href="/index">メモ 一覧にもどる</a>
                </form>
            </div>
        </div>
    </div>

    <script src="/main.js"></script>

</body>
</html>