<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>share memo</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="top-container">
        <div class="top-detail">
            <h3 class="subtitle">メモ共有アプリ</h3>
            <h1 class="title">share memo</h1>
            <a href="/index" class="index-button">メモ一覧</a>
        </div>    
    </div>
</body>
</html>